{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="text-center container">
    <h2>Student Dictionary</h2>
    <p>Enter any word to get the phonetics, definition, and an example for the word</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-danger" type="submit" value="Submit">
    </form>
    <br>
    <div class="content-section p-0 mt-5">
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% elif input %}
        <div class="custom-header">
            <h2>{{ input }}</h2>
            <h6>Phonetics: {{ phonetics }}</h6>
            {% if audio %}
            <audio id="player" src="{{ audio }}" controls></audio>
            {% endif %}
        </div>
        <hr class="p-0 m-0">
        <p class="float-left">
            <h4>Definition: {{ definition }}</h4>
            <h4>Example: {{ example }}</h4>
        </p>
        <h4>Synonyms:</h4>
        <ul>
            {% for synonym in synonyms %}
            <li>{{ synonym }}</li>
            {% endfor %}
        </ul>
        <hr>
        {% else %}
        <h2>Sorry, no results found. Please try another word.</h2>
        {% endif %}
    </div>
</section>
{% endblock content %}