{% extends 'base.html' %} {% load static %} {% block content %}
<section class="text-center container">
  <h2>Search articles in Wikipedia</h2>
  <p>Just enter the search query to obtain the results</p>
  <form action="" method="post">
    {% csrf_token %} {{ form }}
    <input class="btn btn-danger" type="submit" value="Submit" />
  </form>
  <br />
  <div class="container">
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% if options %}
    <h4>Did you mean:</h4>
    <ul>
      {% for option in options %}
      <li>
        <form action="" method="post" style="display: inline">
          {% csrf_token %}
          <input type="hidden" name="text" value="{{ option }}" />
          <button type="submit" class="btn btn-link">{{ option }}</button>
        </form>
      </li>
      {% endfor %}
    </ul>
    {% endif %} {% elif title %}
    <div class="content-section p-0 mt-5">
      <h2>{{ title }}</h2>
      <p>{{ details }}</p>
    </div>
    {% endif %}
  </div>
</section>
{% endblock content %}
